.gallery {
  width: 1440px;
  padding: 100px 156px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  background: #fff;
}

li {
  background: lightgray -76px -0.297px / 125.278% 100.198% no-repeat;
  list-style-type: none;
}
img {
  width: 360px;
  height: 300px;
}
